<div class="panel">
   <div class="panel-body">
      <div class="row">
         <div class="col-sm-6">
            <div class="m-b-30">
               <%= link_to 'New Subcategory  <i class="fa fa-plus"></i>'.html_safe, new_subcategory_path, class: "btn btn-default waves-effect waves-light" %>
            </div>
         </div>   
      </div>
      <div class="">
         <div id="datatable-editable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <div class="row">
               <div class="col-sm-12">
                  
                      <table class="table table-striped dataTable no-footer" id="datatable-editable">
                        <thead>
                          <tr role="row">
                            <th class="sorting" rowspan="1" colspan="1" style="width: 209px;">Name</th>
                            <th class="sorting" rowspan="1" colspan="1" style="width: 209px;">Category</th>
                            <th colspan="3"></th>
                          </tr>
                        </thead>

                        <tbody>
                          <% @subcategories.each do |subcategory| %>
                            <tr>
                              <td><%= subcategory.name  %></td>
                              <td><%= subcategory.category %></td>
                            <% if current_user %>
                              <td class="actions"><%= link_to '<i class="fa fa-image"></i>'.html_safe, subcategory %></td>
                              <td><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_subcategory_path(subcategory)%></td>
                              <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, subcategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                              <% end %>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end: page -->
</div>
